body{
    background-color: rgb(59, 63, 69);
}

h1{
    text-align: center;
    color: rgb(209, 93, 86);
    font-family: sans-serif;
}

.title:not(h1){
    text-align: center;
    color: rgb(209, 93, 86);
    font-family: sans-serif;
}

.title{
    border: 1px solid rgb(74, 79, 86);
    background: rgb(74, 79, 86);
    margin-bottom: 3%;
}

.checkbox{
    width: 400px;
    border: 5px solid rgb(136, 131, 158);
    background: rgb(136, 131, 158);
    margin: auto;
}

label:hover{
    background: rgb(98, 94, 119);
}

label:active{
    color: rgb(209, 93, 86);
}

input{
    position: relative;
    height: 20px; 
    width: 20px;
    margin: 0 20px;
    border: 1px solid rgb(136, 131, 158);
    border-radius: 2px;
    cursor: pointer;
}

input:checked + label{
    background-color: rgb(122, 117, 147);  
}

footer{
text-align: center;
color: rgb(209, 93, 86);
border: 5px solid rgb(74, 79, 86);
background: rgb(74, 79, 86);
width: 400px;
margin: auto;
}

strong::after{
    content: ":)";
    width: 30px;
    height: 30px;
    color: rgb(209, 93, 86);
}

*{transition: all .1s ease-in;}
